<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %>
    <link href = "https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href = "https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
    <%- include('nav') %>
    <main>
        <h1>🚧환경정보 공사중🚧</h1>
    </main>
    
</body>
</html>