<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %>
    <link href = "https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href = "https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('nav') %>
    <h1>환경정보</h1>
</body>
</html>