.placelist_result {
    cursor: pointer;
    margin: 5px;
    border-bottom: 1px solid gray;
}

.placelist_addr{
    font-size: 15px;
}

aside{
    padding: 20px;
}

content {
    grid-row: 3/4;
    grid-column: 1/4;
    display: inline;
}

main h1 {
    grid-column: 1/4;
    text-align: center;
}

aside {
    display: block;
    grid-column: 1/2;
    margin-top: 250px;
}

main {
    display: block;
    grid-column: 2/3;
    margin-left: 50px;
}


aside {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
}

aside button {
    font-family: 'Do Hyeon';
    font-size: 15px;
}

main {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 40px;
    ;
}