main    { grid-row: 3/4; grid-column: 2/3}
main    {font-family: 'Black Han Sans', sans-serif; font-size: 40px;}
main em { font-size: 60px;}

button  { background-color:rgb(226, 200, 241);  font-family: 'Black Han Sans', sans-serif;
    font-size: 20px; border-radius: 15px; margin-right: 20px; padding: 5px;}
form    {display: inline;}


div.L1     {display: flex; flex-flow: row; flex-wrap: wrap; align-items: center;}

div.L2    { display: block; width: 300px; height: 400px; border-width: thin; border-style: solid; border-color: rgb(168, 64, 168);
    margin: 5px; align-items: center; text-align: center;}

img   { width: 250px; height: 250px;}
p       {font-size: 25px;}

div.L3  { display: block; width: 300px; height: 500px; border-width: thin; border-style: solid; border-color: rgb(168, 64, 168);
    margin: 5px; align-items: center; text-align: center;}