<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %>
    <link rel="stylesheet" href="css/map.css">
</head>
<body>
    <%- include('nav') %>
    <aside>
        <div class="map_wrap">        
            <div id="menu_wrap" class="bg_white">
                <div class="option">
                    <div>
                        <form onsubmit="searchPlaces(); return false;">
                            эВдьЫМыУЬ : <input type="text" id="keyword" size="15" placeholder="ex) ьЛаь┤МызЫьзС"> 
                            <button type="submit">ъ▓АьГЙэХШъ╕░</button> 
                        </form>
                        <form onsubmit = "markup(); return false;">
                            <button type ="submit">ь▒Мыж░ьзА ьзАьзА ыздьЮе ы│┤ъ╕░</button>
                        </form>
                    </div>
                </div>
                <hr>
                <p>ЁЯШГ эБ┤ыжн ьЛЬ эХ┤ыЛ╣ ыздьЮе ыжмы╖░ыбЬ ьЭ┤ыПЩэХйыЛИыЛд</p>
                <ul id="placesList"></ul>
                <div id="pagination"></div>
            </div>
        </div>
    </aside>
    <content>
        <div id = "map"></div>
    </content>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=312f9c7ea0102d2e9f3bf43432d99728&libraries=services"></script>
    <script src = "/js/map.js"></script>
</body>
</html>