<html>

<head>
    <%- include('header') %>
    <link rel="stylesheet" href="/css/mainpage.css">

</head>

<body>
    <%- include('nav') %>
    <main>
        <ul>
            <em><%= user %></em> 님
        </ul>
        <ul>
            등급: 골드
            <ul>
                <li>작성한 리뷰 <%= reviewCount %>건</li>
                <li>참여한 챌린지 n건</li>
            </ul>
        </ul>
        <a href="/mypage/myreview">
            <button class="review">작성 리뷰 확인</button>
        </a>
        <a>
            <button class="review">챌린지 기록 확인</button>
        </a>
    </main>
</body>

</html>