<html>
  <head>
    <%- include('header') %>
    <link rel="stylesheet" href="/css/mainpage.css">

  </head>
  <body>
    <%- include('nav') %>
    <main>
        <ul>
            <em>용기내</em> 님
        </ul>
        <ul>
            ID: example
        </ul>
        <ul>
            등급: 골드
        </ul>
        <ul>
            지금까지 n번 참여하셨습니다!
        </ul>
        <form onsubmit>
            <button type="submit" class = "review">작성 리뷰 확인</button> 
        </form>
        <form onsubmit>
            <button type="submit" class = "review">챌린지 기록 확인</button> 
        </form>
    </main>
  </body>
</html>